.info {
	display: flex;
	justify-content: right;
	position: sticky;
	top: 0;
	background-color: #F6F2F2;
}

.info > p {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
 	font-weight: 600; 
	opacity: 1;
	padding: 0.5em;
	margin: 0;
	color: white;
	background-color: blueviolet;
}