header {
    background-color: #153586;
}

.site-menu{
    display: flex;
    flex-direction: row-reverse;
}

li {
    list-style: none;
}

li > a {
    color: white;
}

h2 {
    margin: 0;
}

.gallery {
    box-shadow: 5px 5px 10px grey;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.gallery > img {
    width: 200px;
}

.gallery > img:nth-of-type(-n+3) {
    align-self: flex-start;
}

.gallery > img:nth-of-type(n+7) {
    align-self: flex-end;
}

/* .gallery-1 {
    flex-direction: row-reverse;
}

.gallery-2 {
    flex-direction: row; 
}

.gallery-3 {
    flex-direction: row-reverse; 
} */